# Description
This notebook analyses and visualizes office supplies

In [1]:
# The code was removed by Watson Studio for sharing.

   OrderDate   Region      Rep     Item  Units  Unit Price
0 2014-07-04     East  Richard  Pen Set     62        4.99
1 2014-07-12     East     Nick   Binder     29        1.99
2 2014-07-21  Central   Morgan  Pen Set     55       12.49
3 2014-07-29     East    Susan   Binder     81       19.99
4 2014-08-07  Central  Matthew  Pen Set     42       23.95